* {
  box-sizing: border-box;
}

body {
  background-color: lavender;
  font-family: "Raleway", sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 35vw;
}

form {
  display: grid;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

input {
  float: right;
  width: 23vw;
}

button {
  background-color: royalblue;
  border: none;
  padding: 15px;
  color: aliceblue;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

button:hover {
  background: blueviolet;
  transition: 1s;
}
